h1 {font-family: "Edo SZ";
    text-align: center;
    color: black}
	
h2 {font-family: "Edo SZ";
    text-align: center;
    color: black}
	
h5 {font-family: "Edo SZ";
    text-align: center;
    color: black}
	
body {font-family: "Edo SZ";
      text-align: center;
      word-spacing: 1px;
	  background-color: gold;}
	 
pre {font-family: "Edo SZ";
     text-align: center;}

mark {color: white;
      background-color: black;}
	 
table {text-align: center;
	   margin: 2px;}

caption {font-weight: bold;
         font-size: 40px; }

th {font-family: Edo SZ;
    background-color: black;
    color: white; }
	
td {font-family: Edo SZ; 
    text-align: center;
    background-color: black;
    color: white; }
	